__pycache__/
.ipynb_checkpoints/
.DS_Store
.env

data/raw/
data/interim/
data/external/
raw_html/
raw_files/

outputs/models/
outputs/trainer_tmp/
outputs/checkpoints/
trainer_tmp/
checkpoint-*/
wandb/

*.pt
*.bin
*.safetensors
*.ckpt
*.zip
*.pdf
*.docx
